/.settings
/bin
/images
/target
/src/main/java/ua/com/ex/configuration
/my.log

/.classpath
/.factorypath
/.project
/localexbase.sql
/localexbase.sql.gz
/testdb.lck
/testdb.log
/testdb.properties
/testdb.script
